* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: black;
  z-index: 1;
}
#navbar #right {
  display: flex;
  text-decoration: none;
}

#navbar #right a {
  text-decoration: none;
  margin-left: 30px;
  font-size: larger;
  font-family: sans-serif;
}

#image {
  position: absolute;
  top: 90px;
  width: 100%;
  padding: 10px;
}
#image img {
  width: 100%;
  height: 100vh;
}
